@page "/"

<PageTitle>Home</PageTitle>

<h1>Prueba Tecnica Desarrolaldor Web - Ing.Yerferson Arley Duarte García</h1>

En el menu de la parte derecha se encuentra el bónton Productos para acceder al listodo.
